@charset "UTF-8";
/* line 8, ../stylesheets/dev.scss */
body::before {
  content: "xs";
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999999;
  background-color: #000;
  color: #fff; }

@media (min-width: 768px) {
  /* line 17, ../stylesheets/dev.scss */
  body::before {
    content: "sm"; } }
@media (min-width: 992px) {
  /* line 18, ../stylesheets/dev.scss */
  body::before {
    content: "md"; } }
@media (min-width: 1200px) {
  /* line 19, ../stylesheets/dev.scss */
  body::before {
    content: "lg"; } }
