.preload-spinner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999; }
  .preload-spinner.fade-out {
    opacity: 0;
    -webkit-animation-name: preloadFadeOutOpacity;
            animation-name: preloadFadeOutOpacity;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    z-index: -9999; }
  .preload-spinner>div {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .preload-spinner>div>div {
      border-radius: 100%;
      border-style: solid;
      border-width: .25rem;
      height: 5rem;
      width: 5rem;
      -webkit-animation: preloadSpinner 1s linear infinite;
              animation: preloadSpinner 1s linear infinite; }
  .preload-spinner.light {
    background: #e8e8e8; }
    .preload-spinner.light>div>div {
      border-color: #fff hsla(0, 0%, 100%, .2) hsla(0, 0%, 100%, .2); }
  .preload-spinner.dark {
    background: #252525; }
    .preload-spinner.dark>div>div {
      border-color: #000 rgba(0, 0, 0, .2) rgba(0, 0, 0, .2); }

@-webkit-keyframes preloadSpinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(359.9deg);
            transform: rotate(359.9deg); } }

@keyframes preloadSpinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(359.9deg);
            transform: rotate(359.9deg); } }

@-webkit-keyframes preloadFadeOutOpacity {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

@keyframes preloadFadeOutOpacity {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }
