* text eol=lf

*.png binary
*.jpg binary

*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

css/* linguist-generated=true

# Files to exclude when creating archive.
*.git export-ignore
*.gitignore export-ignore
*.gitattributes export-ignore

.editorconfig export-ignore
.stylelintrc.json export-ignore
.travis.yml export-ignore

gulp.config.json export-ignore
gulpfile.js export-ignore

package.json export-ignore
yarn.lock export-ignore
