////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Floats -----------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@mixin theme-floats-aligns() {
  .alignleft {
    /*rtl:ignore*/
    float: left;
  }

  .alignright {
    /*rtl:ignore*/
    float: right;
  }

  .alignleft .alignleft,
  .alignright .alignright {
    float: none;
  }

  .aligncenter {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  // // @REF: https://richtabor.com/?p=489
  // .alignfull {
  //   margin-left: calc(-100vw / 2 + 100% / 2);
  //   margin-right: calc(-100vw / 2 + 100% / 2);
  //   max-width: 100vw;
  // }
  //
  // .alignwide {
  //   margin-left: -100px;
  //   margin-right: -100px;
  //   max-width: $theme-entry-width;
  // }
}

@mixin theme-floats-navigation() {
  .navigation {
    @include theme-clearfix;

    .nav-previous {
      float: left;
    }

    .nav-next {
      float: right;
    }

    .nav-next,
    .nav-previous {
      span {
        vertical-align: middle;
      }
    }

    @include body-rtl() {
      .nav-previous {
        float: right;
      }

      .nav-next {
        float: left;
      }
    }
  }
}

// DRAFT: not used
@mixin theme-float-flip-right() {
  float: right;

  @include body-rtl() {
    float: left;
  }
}

// DRAFT: not used
@mixin theme-float-flip-left() {
  float: left;

  @include body-rtl() {
    float: right;
  }
}
