////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Variables --------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@use "sass:math"; // @REF: https://sass-lang.com/d/slash-div

////////////////////////////////////////////////////////////////////////////////
$theme-baseline-size: 16px !default;
$theme-font-size:     16px !default;
$theme-line-height:   1.428571429 !default; // 20/14

////////////////////////////////////////////////////////////////////////////////
$theme-container-width: 1440px !default;
$theme-entry-width: math.div($theme-container-width, 2) !default;
$theme-grid-gutter: 20px !default;

$theme-color-brand: #2868c7 !default;
$theme-color-background: #fff !default;
$theme-color-text: #333 !default;
$theme-color-border: #555 !default;

////////////////////////////////////////////////////////////////////////////////
$theme-brand-color: $theme-color-brand !default; // DEPRICATED
$theme-brand-border: $theme-color-border !default; // DEPRICATED
$theme-background-color: $theme-color-background !default; // DEPRICATED
$theme-text-color: $theme-color-text !default; // DEPRICATED

////////////////////////////////////////////////////////////////////////////////
$theme-wp-adminbar-height: 32px !default; // WordPress Adminbar Height // @SEE: `--wp-admin--admin-bar--height: 32/46px;` // @REF: https://core.trac.wordpress.org/ticket/52623
$theme-bs-navbar-height: 50px !default; // Bootstrap Navbar Height

////////////////////////////////////////////////////////////////////////////////
$theme-preload-size: 50px; // 5rem;
$theme-preload-border: 5px; // 0.25rem;
