
html, body {
	height:100%;
}

html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}


body{
	direction:rtl;
	//position:relative;
}

html.html-admin-bar body { padding-top:32px; }
@media screen and (max-width: 782px) { html.html-admin-bar body { padding-top: 46px; } }

a {}
a:hover { text-decoration:none; }
::-moz-selection { background-color:#ffa; color:#000; }
::selection { background-color:#ffa; color:#000; }

.main-logo { margin:0; padding:0; }

textarea { width:100%; resize:vertical; transition: height 0.2s ease 0s; } 
