////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gTheme Parthals: Floats ----------------------------------------------------

@mixin theme-floats-aligns() {
  .alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }

  .alignleft .alignleft,
  .alignright .alignright {
    float: none;
  }

  .aligncenter {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@mixin theme-floats-navigation() {
  .navigation {
    @include theme-clearfix;

    .nav-previous {
      float: left;
    }

    .nav-next {
      float: right;
    }

    .nav-next,
    .nav-previous {
      span {
        vertical-align: middle;
      }
    }

    @include body-rtl() {
      .nav-previous {
        float: right;
      }

      .nav-next {
        float: left;
      }
    }
  }
}

// DRAFT: not used
@mixin theme-float-flip-right() {
  float: right;

  @include body-rtl() {
    float: left;
  }
}

// DRAFT: not used
@mixin theme-float-flip-left() {
  float: left;

  @include body-rtl() {
    float: right;
  }
}
