
// JUST A COPY FROM THE SITE

#printfriendly img{
	float:left;
	margin-top: 12px;
	margin-right: 12px;
}

#printfriendly {
	font-family: Tahoma;
	font-size: 14px;
}

#printfriendly h1, #printfriendly h2, #printfriendly h3, #printfriendly h4 {
	color: Green;
}
