
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
// SEE: http://www.newnet-soft.com/blog/csstypography

// Hyphenation
// For definite cross browser support:
@mixin theme-typography-wordbreak() {
	-ms-word-break: break-all;
	word-break: break-all;

	// Non standard for webkit
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
}

// Adjusting font sizes for fallback fonts
// In situations where font fallback occurs, fallback fonts may not share the same
// aspect ratio as the desired font family and will thus appear less readable.
// The font-size-adjust property is a way to preserve the readability of text when
// font fallback occurs. It does this by adjusting the font-size so that the x-height
// is the same regardless of the font used.
@mixin theme-typography-adjust() {
	font-size-adjust: auto;
}

// Default paragraph styles
@mixin theme-default-paragraph(){
	// font-size: $font-size-large;

	// line-height: $headings-line-height * 1.2;
	// line-height: $line-height-large;
	// line-height:   $theme-grid-gutter;
	// line-height: $line-height-base * 1.1;

	// margin-bottom: $theme-grid-gutter;
	// color: $gray-darker;

	// text-align:justify;
	// @include theme-typography-wordbreak();
	// @include theme-typography-adjust();
}
