
/// Default WordPress Widget Styles

.widget {}

.textwidget {
	p {}
}
.widget_text {}

#searchform {}
.widget_search {}
.screen-reader-text {}

.widget_meta {
	ul {
		li {
			a {
				
			}
		}
	}
}

.widget_links {
	ul {
		li {
			a {
				
			}
			&:after {
				
			}
			&:before {
				
			}
		}
	}
}

.widget_archive {
	ul {
		li {
			a {
				
			}
		}
	}
	select {
		
	}
	option {
		
	}
}

.widget_pages {
	ul {
		li {
			a {
				
			}
		}
	}
}

.widget_tag_cloud {
	a {
		&:after {
			
		}
		&:before {
			
		}
	}
}

.widget_calendar {
	
	table {
		width: 100%;

		a { 
			font-weight: 600; 
			&:hover { 
				// color: #444 !important; 
				text-decoration:none;
			}
		}
		
		caption { 
			// color: #fff; 
			padding: 5px 10px; 
			text-align:center;
		}
		
		thead { 
			background: $table-bg-accent; 
			-webkit-box-shadow: 0 1px 0 #ddd; 
					box-shadow: inset 0 -1px 0 #ddd; 
		}
		
		th { 
			font-weight: 600; 
		}
		
		th, td { 
			padding: 3px 0; 
			text-align: center; 
			border: 1px solid $table-border-color; 
		}
		
		td:hover {
			background: $table-bg-hover;
		}
		
		.pad { 
			padding: 0!important; 
		}
	}
	
	
	#calendar_wrap {
		th {}
		td {}
	}
	#wp-calendar {
		tr td {}
		caption {}
		a {}
		#today {}
		#prev {
			a {}
		}
		#next {
			a {}
		}
	}
}

.widget_categories {
	ul {
		li {
			a {
				
			}
		}
		ul.children {
			
		}
	}
	a {}
	select{}
	select#cat {}
	select.postform {}
	option {}
	
	.level-0 {}
	.level-1 {}
	.level-2 {}
	.level-3 {}
}


.recentcomments {}
#recentcomments {
	li {
		a {
			
		}
	}
}
.widget_recent_comments {}

.widget_recent_entries {
	ul {
		li {
			a {
				
			}
		}
	}
}