////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Theme Partials: Main 01 - 2026-02-05

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@use "gtheme";

////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;

////////////////////////////////////////////////////////////////////////////////
.wrapper {
  // &.-navbar {}
  // &.-main {}
  // &.-end {}

  &.-copyright {
    p.credit {
      font-size: smaller;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.wrap-content {
  margin: ($spacer * 2) 0;

  > .nav-content {
    margin-top: -($spacer * 2); // move back up if has navigation!
  }

  &.wrap-content-index,
  &.wrap-content-singular {
    .entry-wrap {
      margin: ($spacer * 2) 0;
    }
  }

  &.wrap-content-index {
    .entry-summary {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  //   .entry-wrap.content-singular & {
  //   margin-top: $spacer * 2;
  // }

  // &.wrap-content-singular {}
}
