@charset "UTF-8";

@import "modules/all";
@import "partials/base";


// http://bootsnipp.com/snippets/featured/detect-viewport-context
body::before {
  content: "XS";
  position: fixed;
  top: 32px;
  right: 0;
  z-index: 9999999;
  background-color: #000;
  color: yellow;
  padding: 5px 5px 2px;
}
@media (min-width : 768px) { body::before { content: "SM"; }}
@media (min-width : 992px) { body::before { content: "MD"; }}
@media (min-width : 1200px) { body::before { content: "LG"; }}
