////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Front: Screen --------------------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
$theme-wp-adminbar-height: 32px; // WordPress Adminbar Height
$theme-bs-navbar-height: 5rem; // Bootstrap Navbar Height

////////////////////////////////////////////////////////////////////////////////
@import "modules/all";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "vendor/normalize-v8.0.1";
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-fonts-Vazir-CDN;
@include theme-fonts-Vazir-Bold-CDN;

////////////////////////////////////////////////////////////////////////////////
@include theme-adminbar-init($theme-bs-navbar-height, $theme-wp-adminbar-height);
@include theme-layout-init;

body {
  font-family: $font-family-normal;

  font-size: 1rem; // Assumes the browser default, typically `16px`
  line-height: 1.5;
}

@include theme-headings-init;
@include theme-linking-init;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@import "blocks/defaults_02";
@import "blocks/typography_02";
@import "blocks/navigation_02";
@import "blocks/forms_02";
@import "blocks/table_02";
@import "blocks/comments_03";
@import "blocks/calendar_01";
// @import "blocks/archives_compact_02"; // SET: `GPERSIANDATE_DISABLE_STYLES`
@import "blocks/bp_nouveau_02";
@import "blocks/cse_default_01";

////////////////////////////////////////////////////////////////////////////////
@import "blocks/blocks-floats_01";
@import "blocks/blocks-columns_01";
@import "blocks/blocks-quotes_01";
@import "blocks/blocks-rules_01";

////////////////////////////////////////////////////////////////////////////////
@include theme-coloring-gray-palette;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@include theme-layout-media;
