////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Front: PrintFriendly -------------------------------------------------------
// @REF: https://support.printfriendly.com/button/developer-questions/custom-css-styles/

////////////////////////////////////////////////////////////////////////////////
@import "modules/all";
////////////////////////////////////////////////////////////////////////////////

#printfriendly {

  // changes font family and size
  font-family: Tahoma, sans-serif;
  font-size: 14px;

  // aligns images to the left
  img {
    float: right;
    margin-top: 12px;
    margin-left: 12px;
  }

  #pf-src {
    // display: none; // hides the Page Title and Source URL
  }

  p.copyright,
  #pf-date {
    direction: ltr;
  }
}
