////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Archives: Compact 02 - 2019-08-26
// gPersianDate Compact Archives Markup

////////////////////////////////////////////////////////////////////////////////

$theme-grid-gutter:        20px !default;
$padding-small-vertical:   5px !default;
$padding-small-horizontal: 10px !default;

////////////////////////////////////////////////////////////////////////////////
table.date-archives-compact {
  width: auto;
  margin: ($theme-grid-gutter/2) auto;

  // @REF: https://css-tricks.com/table-borders-inside/
  border-collapse: collapse;
  border-style: hidden;

  tr + tr {
    border-top: 1px dashed $gray-light;
  }

  td + td {
    border-right: 1px dashed $gray-light;
  }

  td {
    padding: ($padding-small-horizontal/2) $padding-small-vertical;
  }

  .-empty {
    color: $gray-light;
  }
}
