////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Attachment 01 - 2020-01-13

////////////////////////////////////////////////////////////////////////////////
.entry-attachment {
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
.wp-video {
  margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
// @REF: https://stackoverflow.com/a/52402586
.mejs-controls {
  opacity: 0 !important;
  transition: all 0.5s ease;

  .mejs-container:hover & {
    opacity: 1 !important;
  }
}

.mejs-overlay-button {
  display: none !important;
  visibility: hidden !important;
}

////////////////////////////////////////////////////////////////////////////////
