////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Bootstrap: MegaMenu 01 - 2019-11-08
// @REF: https://github.com/geedmo/yamm/blob/master/src/yamm.scss

////////////////////////////////////////////////////////////////////////////////

.theme-bs-megamenu {
  position: static; // reset positions

  .dropdown-menu {
    left: 0 !important;
    right: 0 !important;

    border-radius: 0;
    border: none;
    float: none;
    margin: 0;
    padding: 0;

    > div {
      padding: $theme-grid-gutter;
    }
  }

  .container {
    position: relative;
  }
}
