////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Comments 08 - 2025-08-25
// NOTE: support both WordPress core Comments and WooCommerce Reviews
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;
$theme-color-border: $gray-light !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// div#reviews.woocommerce-Reviews {}
// div#comments.comments-area {}

////////////////////////////////////////////////////////////////////////////////
ol.commentlist { // NOTE: wc only uses `.commentlist`
  @include theme-list-reset;
  margin-bottom: $spacer;

  // li.comment { }
}

////////////////////////////////////////////////////////////////////////////////
