////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Comments 07 - 2025-05-24

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
$spacer: 1rem !default;
$theme-color-border: $gray-light !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// .entry-comments {}
// .comments-area {}
// .comments-feed {}

////////////////////////////////////////////////////////////////////////////////
.comments-title {
  margin-bottom: $spacer;
}

.comment-reply-title {
  margin: $spacer 0;

  small {
    float: right;
    font-size: smaller;
  }
}

////////////////////////////////////////////////////////////////////////////////
// .comment-list,
.commentlist { // NOTE: wc only uses `.commentlist`
  @include theme-list-reset;
  margin-bottom: $spacer;

  li.comment {
    margin-bottom: $spacer;

    .children {
      @include theme-list-reset;
      margin-top: $spacer;
      margin-left: $spacer * 4.5;
    }
  }

  .comment-avatar {
    clear: left;
    float: left;
    margin: $spacer $spacer 1px;

    img {
      width: 100%;
      height: auto;
      fill: $theme-brand-color;
      border-radius: 50%;
      background-color: $gray-300;
    }
  }

  .comment-body {
    border: 1px dashed $theme-brand-border;
    padding: $spacer $spacer 0;
    font-size: smaller;
  }

  .comment-time {
    font-size: smaller;
    font-weight: 400;
  }

  .comment-content {
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.xx-comment-list {
  @include theme-list-reset;
  margin-bottom: $spacer;

  li.comment {
    margin-bottom: $spacer;

    .children {
      @include theme-list-reset;
      margin-top: $spacer;
      margin-left: $spacer * 4.5;
    }
  }


  p.comment-awaiting-moderation {
    margin-top: $spacer * .5;
    margin-bottom: 0;
    font-size: smaller;
  }

  .comment-actions {
    font-size: smaller;
    text-align: right;
    margin-bottom: $spacer * .5;
  }
}

.comment-form {
  .-form-group {
    margin-bottom: $spacer;
  }

  .form-label {
    margin-bottom: $spacer * .25;

    .required {
      font-size: smaller;
    }
  }

  // p.logged-in-as {}
  // p.form-submit {}
}
