////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Defaults 01 - 2018-11-02

////////////////////////////////////////////////////////////////////////////////
.wrapper {
  // &.-main {}
  // &.-copyright {}
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;

  &.-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

    > h1,
    > ul {
      flex-grow: 0;
      margin: 0 !important;
    }

    > .-rule {
      flex-grow: 1;
      margin: 0 .4rem;
      border-top: 2px dotted $gray-light;
    }

    ul {
      @extend .breadcrumb;
    }
  }

  &.-main {
    margin-top: 1rem;
  }

  &.-copyright {
    font-size: 0.8rem;
    text-align: center;
    color: $gray-light;
    border-top: 1px dotted $gray-lighter;
    margin-top: 1rem;
  }
}

.entry-wrap {
  .entry-header {
    margin-bottom: 1rem;
  }

  .entry-byline {
    font-size: 0.89rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .entry-content {
    &.entry-404 {
      text-align: center;
      max-width: 720px;
      margin: 0 auto;
    }
  }

  .entry-footer {
    font-size: 0.89rem;
  }
}

.wrap-comments {
  .no-comments {
    color: $gray-light;
    font-size: 0.8rem;
    text-align: center;
  }
}
