////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Dev: Entry SplitRow 01 - 2023-05-23

////////////////////////////////////////////////////////////////////////////////
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;


////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.-wrap.splitrow {

}

.entry-double-top,
.entry-double-head,
.entry-double-main,
.entry-double-foot,
.entry-double-bottom {
}

.entry-double-top {
  background-color: $gray-700;
}

.entry-double-head {
  background-color: $gray-400;
}

.entry-double-main {
  background-color: $gray-200;
}

.entry-double-foot {
  background-color: $gray-100;
}

.entry-double-bottom {
  background-color: $gray-700;
}

////////////////////////////////////////////////////////////////////////////////
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

////////////////////////////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

////////////////////////////////////////////////////////////////////////////////
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {}

////////////////////////////////////////////////////////////////////////////////
// Extra extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {}

////////////////////////////////////////////////////////////////////////////////
// wp-adminbar breakpoint
@media screen and (max-width: 782px) {
  html.html-admin-bar {}
}
