////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Dev: Bootstrap Viewports 03 - 2019-1004

// BS4

////////////////////////////////////////////////////////////////////////////////
body::before {
  content: "UN";
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  background-color: #000;
  color: $brand-warning;
  padding: 5px 5px 2px;

  html.html-admin-bar & {
    top: 32px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body::before { content: "XS"; }
}

////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  body::before { content: "SM"; }
}

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  body::before { content: "MD"; }
}

////////////////////////////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  body::before { content: "LG"; }
}

////////////////////////////////////////////////////////////////////////////////
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body::before { content: "EG"; }
}

////////////////////////////////////////////////////////////////////////////////
// wp-adminbar breakpoint
@media screen and (max-width: 782px) {
  html.html-admin-bar body::before {
    top: 46px;
  }
}
