////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// gTheme Blocks: Forms 01 - 2017-09-07
// @REF: https://github.com/dhg/Skeleton/blob/master/css/skeleton.css
////////////////////////////////////////////////////////////////////////////////

.form-control {}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  line-height: 38px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #bbb;
  cursor: pointer;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  height: 38px;
  padding: 6px 10px;
  // The 6px vertically centers text on FF, ignored by Webkit
  background-color: transparent;
  border: 1px solid #D1D1D1;
  box-shadow: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 400;
}
