////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Forms 03 - 2018-11-17

// NOT USED

////////////////////////////////////////////////////////////////////////////////

.search-form.-expanding .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;

  input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;

    &::-webkit-input-placeholder {
      display: none;
    }

    &:-moz-placeholder {
      display: none;
    }

    &::-moz-placeholder {
      display: none;
    }

    &:-ms-input-placeholder {
      display: none;
    }
  }

  &:hover,
  &.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }

  span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
}
