////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Images 01 - 10/29/2016, 5:29:24 AM
// DRAFT

////////////////////////////////////////////////////////////////////////////////
// in editor placeholder
.mceTemp {

  // caption containder
  dl.wp-caption {

    // img container
    dt.wp-caption-dt {}

    // text containder
    dd.wp-caption-dd {}
  }
}

////////////////////////////////////////////////////////////////////////////////
// @REF: https://gist.github.com/geminorum/9271ee97124bbcadd859e51e03832d9f
.entry-content {
  img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;

    border: 1px solid #ccc;
    padding: 2px;
  }

  a img {
    opacity: .85;
    transition: all .5s ease-in-out;
  }

  a:hover,
  a:focus {
    img {
      opacity: 1;
    }
  }
}
