////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: jCarousel 01 - 2020-08-06
// @REF: https://github.com/jsor/jcarousel

////////////////////////////////////////////////////////////////////////////////
.wrap-jcarousel-paginated {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: $theme-grid-gutter auto;
  text-align: center;

  .-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    ul {
      position: relative;
      width: 10000em;
      @include theme-list-reset();
    }

    li {
      float: left;
      box-sizing: border-box;
      // width: 683px; // just before carousel is ready

      img {
        display: inline-block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .-pagination {
    position: absolute;
    right: $theme-grid-gutter;
    bottom: $theme-grid-gutter;

    a {
      font-size: smaller;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      // vertical-align: bottom;

      width: $theme-grid-gutter;
      height: $theme-grid-gutter;
      margin-left: $theme-grid-gutter / 2;
      // line-height: $theme-grid-gutter * 1.1;
      border-radius: $theme-grid-gutter;

      color: $gray-base;
      background: rgba(0, 0, 0, .2);
      transition: all .1s ease;

      &.active,
      &:hover {
        color: $gray-lighter;
        background: rgba(0, 0, 0, .4);
        transition: all .3s ease;
      }
    }
  }
}
