////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: MediaElement.JS 01 - 2020-08-27
// @REF: https://www.cssigniter.com/css-style-guide-for-the-default-wordpress-media-player/
// @SEE: https://github.com/justintadlock/theme-mediaelement

////////////////////////////////////////////////////////////////////////////////
.gnetwork-wrap-shortcode {
  > .-download {
    text-align: right;
  }
}

video.wp-video-shortcode {
  max-width: 100%; // make media element responsive
}

////////////////////////////////////////////////////////////////////////////////
.mejs-container {
  /*rtl:ignore*/
  direction: ltr;

  &,
  .mejs-controls,
  .mejs-embed,
  .mejs-embed body {
    background-color: $gray-lighter; // player background
  }

  .mejs-time {
    color: #888;
  }

  .mejs-button > button {
    background-image: url(../images/mediaelement/mejs-controls-dark.svg);
  }

  .mejs-controls {
    .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
    .mejs-time-rail .mejs-time-total {
      background-color: #fff; // progress and audio bar background
    }

    // Track progress bar background (amount of track fully loaded)
    // We prefer to style these with the main accent color of our theme
    .mejs-time-rail .mejs-time-loaded {
      // background-color: rgba(219, 78, 136, 0.075);
      background-color: rgba($brand-primary, 0.075);
    }

    // Current track progress and active audio volume level bar
    .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .mejs-time-rail .mejs-time-current {
      // background: #db4e88;
      background: $brand-info;
    }
  }

  // Reduce height of the progress and audio bars
  .mejs-time-buffering,
  .mejs-time-current,
  .mejs-time-float,
  .mejs-time-float-corner,
  .mejs-time-float-current,
  .mejs-time-hovered,
  .mejs-time-loaded,
  .mejs-time-marker,
  .mejs-time-total,
  .mejs-horizontal-volume-total,
  .mejs-time-handle-content {
    height: 3px;
  }

  .mejs-time-handle-content {
    top: -6px;
  }

  .mejs-time-total {
    margin-top: 8px;
  }

  .mejs-horizontal-volume-total {
    top: 19px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// WordPress audio playlist styles

.wp-playlist-light {
  // box-shadow: 3px 3px 0 #e2e2e2;

  // Captions - Track titles / subtitles, time
  .wp-playlist-caption,
  .wp-playlist-item-length {
    color: #787878;
  }

  // Captions - Current track
  .wp-playlist-current-item .wp-playlist-item-title {
    font-size: 16px;
  }

  .wp-playlist-item-album {
    font-style: normal;
  }

  .wp-playlist-item-artist {
    text-transform: none;
    opacity: .8;
  }

  // Playlist items
  .wp-playlist-item {
    padding: 10px 0;
    border-bottom-color: #efefef;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .wp-playlist-playing {
    font-weight: 400;
    border-bottom-color: #db4e88;
  }

  .wp-playlist-item-length {
    top: 10px;
  }
}
