////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Navigation 01 - 2018-03-19
// for non Bootstrap

////////////////////////////////////////////////////////////////////////////////
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 28px 0;
  list-style: none;

  > li {
    display: inline-block;
  }

  > li + li::before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc;
  }
}
