////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Navigation 02 - 2018-11-27
// for non Bootstrap

////////////////////////////////////////////////////////////////////////////////
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  padding: .75rem 1rem;
  margin: 0 0 1rem;
  list-style: none;

  > li + li {
    padding-left: .5rem;

    &::before {
      padding-right: .5rem;
      color: $gray-light;
      content: "/";
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// .pager is dropped on BS4
.pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1rem;
  margin: 0 0 1rem;
  list-style: none;
  clear: both;

  .previous {
    flex: 1;
    text-align: left;
  }

  .next {
    flex: 1;
    text-align: right;
  }
}

////////////////////////////////////////////////////////////////////////////////
.entry-pages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  max-width: ( $theme-container-width / 2 );
  margin: 1rem auto 0.5rem !important;

  > a,
  > span {
    margin: 0 .5rem;
    display: inline-block;
    padding: .25rem .75rem;
    border: 1px dotted $gray-lighter;
    border-radius: $border-radius;

    &:hover {
      background: $gray-lighter;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
