////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Blocks: Print 02 - 2025-03-10
// NOTE: applies only on print media

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@use "gtheme";

////////////////////////////////////////////////////////////////////////////////
body {
  color: gtheme.$gray-base;
  background: #fff;
}

a:link,
a:visited {
  color: gtheme.$gray-dark;
}

////////////////////////////////////////////////////////////////////////////////

.noprint,
#wpadminbar,
#references .cite-scroll.-back,
.hidden-print, // BS3
.d-print-none, // BS4
.-print-hide {
  display: none;
}

.d-print-inline, // BS4
.visible-print-inline, // BS3
.-print-display-inline {
  display: inline;
}

.d-print-inline-block, // BS4
.visible-print-inline-block, // BS3
.-print-display-inline-block {
  display: inline-block;
}

.d-print-block, // BS4
.visible-print-block, // BS3
.-print-display-block,
.-print-only {
  display: block;
}

////////////////////////////////////////////////////////////////////////////////
