////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: General: Fonts ----------------------------------------------------

// SEE: [SASS @font-face mixin](https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6)

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

// $theme-fonts-base: "https://cdn.rawgit.com" !default;
$theme-fonts-base: "https://rawcdn.githack.com" !default;
$theme-fonts-repo: "../../gtheme_03/fonts" !default;

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Native Fonts

@mixin theme-fonts-core-native() {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@mixin theme-fonts-core-code() {
  font-family: Consolas, Monaco, monospace;
}

@mixin theme-fonts-core-dashicons() {
  font-family: dashicons; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}

////////////////////////////////////////////////////////////////////////////////

@mixin theme-fonts-unicoderange-Persian() {
  unicode-range: u+0600-06ff, u+200c-200e, u+2010-2011, u+fb50-fdff, u+fe80-fefc;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@mixin _theme-fonts-fontface($name, $path, $weight: normal) {
  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-weight: #{$weight};
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      font-display: swap; // @REF: https://css-tricks.com/font-display-masses/

      @content;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Vazir v20.1.0
// https://github.com/rastikerdar/vazir-font
// http://rastikerdar.github.io/vazir-font/

@mixin theme-fonts-Vazir-CDN() {

  $font-family-normal: "Vazir", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "normal";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Bold-CDN() {

  $font-family-bold: "Vazir", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "bold";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir-Bold";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Light-CDN() {

  $font-family-light: "Vazir", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "300";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir-Light";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Medium-CDN() {

  $font-family-medium: "Vazir", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "500";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir-Medium";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Thin-CDN() {

  $font-family-thin: "Vazir", "Tahoma", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "100";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir-Thin";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Heavy-CDN() {

  $font-family-heavy: "Vazir", "Tahoma", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Vazir";
  $ver: "v20.1.0";
  $weight: "900";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/vazir-font";
  $file: "dist/Vazir-Black";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Vazir-Code-CDN() {

  $font-family-code: "Vazir Code", "monospaced" !global;

  $name: "Vazir Code";
  $ver: "v1.1.1";
  $weight: "normal";

  $base : $theme-fonts-base;
  $repo: "rastikerdar/vazir-code-font";
  $file: "dist/Vazir-Code";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Samim v2.0.1
// https://github.com/rastikerdar/samim-font
// https://rastikerdar.github.io/samim-font/

@mixin theme-fonts-Samim-CDN() {

  $font-family-normal: "Samim", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Samim";
  $ver: "v2.0.1";
  $weight: "normal";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/samim-font";
  $file: "dist/Samim";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Samim-Bold-CDN() {

  $font-family-bold: "Samim", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Samim";
  $ver: "v2.0.1";
  $weight: "bold";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/samim-font";
  $file: "dist/Samim-Bold";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Gandom v0.7
// https://github.com/rastikerdar/gandom-font
// https://rastikerdar.github.io/gandom-font/

@mixin theme-fonts-Gandom-CDN() {

  $font-family-normal: "Gandom", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Gandom";
  $ver: "v0.7";
  $weight: "normal";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/gandom-font";
  $file: "dist/Gandom";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

// !! Gandom has no bold version
@mixin theme-fonts-Gandom-Bold-CDN() {

  $font-family-bold: "Gandom", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Gandom";
  $ver: "v0.7";
  $weight: "bold";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/gandom-font";
  $file: "dist/Gandom-Bold";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Sahel v1.0.0-alpha22
// https://github.com/rastikerdar/sahel-font
// https://rastikerdar.github.io/sahel-font/

@mixin theme-fonts-Sahel-CDN() {

  $font-family-normal: "Sahel", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Sahel";
  $ver: "v1.0.0-alpha22";
  $weight: "normal";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/sahel-font";
  $file: "dist/Sahel";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Sahel-Bold-CDN() {

  $font-family-bold: "Sahel", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Sahel";
  $ver: "v1.0.0-alpha22";
  $weight: "bold";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/sahel-font";
  $file: "dist/Sahel-Bold";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

@mixin theme-fonts-Sahel-Black-CDN() {

  $font-family-bold: "Sahel", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Sahel";
  $ver: "v1.0.0-alpha22";
  $weight: "900";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/sahel-font";
  $file: "dist/Sahel-Black";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Nahid v0.3.0
// previously known as Dirooz
// https://github.com/rastikerdar/nahid-font
// https://rastikerdar.github.io/nahid-font/

// !! Nahid has no bold version
@mixin theme-fonts-Nahid-CDN() {

  $font-family-normal: "Nahid", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;
  $font-family-bold: "Nahid", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Nahid";
  $ver: "v0.3.0";
  $weight: "normal";

  $base: $theme-fonts-base;
  $repo: "rastikerdar/nahid-font";
  $file: "dist/Nahid";
  $path: $base + "/" + $repo + "/" + $ver + "/" + $file;

  @include _theme-fonts-fontface($name, $path, $weight) {
    @include theme-fonts-unicoderange-Persian;
  }
}

// FIXME: back comp
@mixin theme-fonts-Dirooz-CDN() {
  @include theme-fonts-Nahid-CDN;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Droid Arabic Naskh (Arabic) v7
// http://www.google.com/webfonts/earlyaccess
// http://openfontlibrary.org/en/font/droid-arabic-naskh

@mixin theme-fonts-DroidArabicNaskh($base: $theme-fonts-repo) {
  @include theme-fonts-DroidArabicNaskh-Normal($base);
  @include theme-fonts-DroidArabicNaskh-Bold($base);
}

@mixin theme-fonts-DroidArabicNaskh-Normal($base: $theme-fonts-repo) {

  $font-family-normal: "Droid Arabic Naskh", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Droid Arabic Naskh";
  $folder: "droidarabicnaskh";
  $file: "DroidNaskh-Regular";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 400;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}

@mixin theme-fonts-DroidArabicNaskh-Bold($base: $theme-fonts-repo) {

  $font-family-bold: "Droid Arabic Naskh", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Droid Arabic Naskh";
  $folder: "droidarabicnaskh";
  $file: "DroidNaskh-Bold";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 700;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Noto Naskh Arabic (Arabic) v4
// https://www.google.com/get/noto/
// https://github.com/googlei18n/noto-fonts

@mixin theme-fonts-NotoNaskhArabic($base: $theme-fonts-repo) {
  @include theme-fonts-NotoNaskhArabic-Normal($base);
  @include theme-fonts-NotoNaskhArabic-Bold($base);
}

@mixin theme-fonts-NotoNaskhArabic-Normal($base: $theme-fonts-repo) {

  $font-family-normal: "Noto Naskh Arabic", "Tahoma", "Iranian Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !global;

  $name: "Noto Naskh Arabic";
  $folder: "notonaskharabic";
  $file: "NotoNaskhArabic-Regular";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 400;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}

@mixin theme-fonts-NotoNaskhArabic-Bold($base: $theme-fonts-repo) {

  $font-family-bold: "Noto Naskh Arabic", "Arial", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif !global;

  $name: "Noto Naskh Arabic";
  $folder: "notonaskharabic";
  $file: "NotoNaskhArabic-Bold";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 700;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Droid Arabic Kufi (Arabic) v6
// http://www.google.com/fonts/earlyaccess

@mixin theme-fonts-DroidArabicKufi($base: $theme-fonts-repo) {

  $name: "Droid Arabic Kufi";
  $folder: "droidarabickufi";
  $file: "DroidKufi-Regular";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 400;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }

  $name: "Droid Arabic Kufi";
  $folder: "droidarabickufi";
  $file: "DroidKufi-Bold";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 700;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Weblogma Webfont Yekan v3
// http://goo.gl/WhRr3a
// http://weblogma.com/

@mixin theme-fonts-WeblogmaYekan($base: $theme-fonts-repo) {

  $name: "Weblogma Yekan";
  $folder: "weblogmayekan";
  $file: "WeblogmaYekan";
  $path: $base + "/" + $folder + "/" + $file;

  @at-root {
    @font-face {
      font-family: "#{$name}";
      font-style: normal;
      font-weight: 400;
      src: url($path + ".eot");
      src:
        url($path + ".eot?#iefix") format("embedded-opentype"),
        // url($path + ".woff2") format("woff2"),
        url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype");

      @include theme-fonts-unicoderange-Persian;
      font-display: swap;
    }
  }
}
