////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Variables --------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@use "sass:math"; // @REF: https://sass-lang.com/d/slash-div

////////////////////////////////////////////////////////////////////////////////
$theme-baseline-size: 16px !default;
$theme-font-size:     16px !default;
$theme-line-height:   1.428571429 !default; // 20/14

////////////////////////////////////////////////////////////////////////////////
$theme-container-width: 1440px !default;
$theme-entry-width: math.div($theme-container-width, 2) !default;
$theme-grid-gutter: 20px !default;

$theme-brand-color: #2868c7 !default;
$theme-background-color: #fff !default;
$theme-text-color: $gray-dark !default;

////////////////////////////////////////////////////////////////////////////////
$theme-wp-adminbar-height: 32px !default; // WordPress Adminbar Height // @SEE: `--wp-admin--admin-bar--height: 32/46px;`
$theme-bs-navbar-height: 50px !default; // Bootstrap Navbar Height

////////////////////////////////////////////////////////////////////////////////
$theme-preload-size: 50px; // 5rem;
$theme-preload-border: 5px; // 0.25rem;
