////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Layout -----------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@mixin theme-layout-init {
  html {
    box-sizing: border-box;

    // * {
    //   -webkit-font-smoothing: antialiased !important;
    //   -moz-font-smoothing: antialiased !important;
    //   font-smoothing: antialiased !important;
    // }

    &.no-js {
      .hide-if-no-js {
        display: none;
      }
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {

    // disables pull-to-refresh but allows overscroll glow effects
    // @REF: https://stackoverflow.com/a/48417352
    // @REF: https://developers.google.com/web/updates/2017/11/overscroll-behavior
    overscroll-behavior-y: contain;
  }

  @content;
}
