////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Animation --------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@mixin theme-animation-spinner($color:#00AEEF, $size: 60px) {
  @at-root {
    @keyframes spinner-rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  animation-name: spinner-rotation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;

  height: $size;
  width: $size;
  margin: ($size * 2) auto;

  position: relative;
  // animation: spinner-rotation 0.6s infinite normal;

  border-left: 6px solid rgba($color, .15);
  border-right: 6px solid rgba($color, .15);
  border-bottom: 6px solid rgba($color, .15);
  border-top: 6px solid rgba($color, .8);
  border-radius: 100%;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@mixin theme-animation-spinner-OLD($color:#00AEEF, $size: 60px) {
  @at-root {
    @keyframes spinner-rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }

  height: $size;
  width: $size;
  margin: ($size * 2) auto;

  position: relative;
  animation: spinner-rotation .6s infinite linear;

  border-left: 6px solid rgba($color, .15);
  border-right: 6px solid rgba($color, .15);
  border-bottom: 6px solid rgba($color, .15);
  border-top: 6px solid rgba($color, .8);
  border-radius: 100%;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@mixin theme-animation-pulsate($color:#00AEEF, $size: 60px) {
  @at-root {
    @keyframes pulsate {
      from {
        width: 1px;
        height: 1px;
        margin: 0;
        opacity: 1;
      }

      to {
        width: $size;
        height: $size;
        margin: -($size / 2);
        opacity: 0;
      }
    }
  }

  animation-name: pulsate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;

  border: 5px solid $color;
  border-radius: $size;
  position: absolute;
  left: 50%;
  top: 50%;
}
