////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Printing ---------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
@mixin theme-printing-init($pading: 15mm, $width: 210mm, $background: $gray-lighter, $page: #fff) {
  @page {
    // margin: $pading; // let browser decide the margin on print UI
  }

  body {
    // width: $width;
    padding: $pading;
  }

  @media screen {
    html {
      background: $background;
    }

    body {
      width: $width;
      // padding: $pading;

      background: $page;
      box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
      margin: 5mm auto;
    }
  }

  // must be here: on print only styles
  .-printlink {
    display: none;
  }

  h1 {
    // page-break-before: always; // messes when we have site logo
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  table,
  figure {
    page-break-inside: avoid;
  }
}
