////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
/// Modules: Theme: Variables --------------------------------------------------

////////////////////////////////////////////////////////////////////////////////
$theme-container-width: 1440px !default;
$theme-grid-gutter: 20px !default;

$theme-brand-color: #2868c7 !default;
$theme-background-color: #fff !default;

////////////////////////////////////////////////////////////////////////////////
$theme-wp-adminbar-height: 32px !default; // WordPress Adminbar Height
$theme-bs-navbar-height: 50px !default; // Bootstrap Navbar Height

////////////////////////////////////////////////////////////////////////////////
$theme-preload-size: 50px; // 5rem;
$theme-preload-border: 5px; // 0.25rem;
