

// http://www.sitepoint.com/sass-basics-function-directive/

// @include linx(white, blue, green, red);
@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

%box-reset {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@mixin main-wrap() {
	@extend %box-reset;
    & *,
    &:after,
    & *:after,
    &:before,
    & *:before {
        @extend %box-reset;
    }
	padding:0;
	margin:0;
	border:0;
}

@mixin body-rtl() {
	body.rtl & {
		@content;
	}
}

// p { @include vendor-prefix(hyphens, auto)}
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
